# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# CocoaPods
Pods/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Thumbnails
Thumbs.db

# IDE
*.swp
*.swo
*~
.idea/
.vscode/

# Archives
*.ipa
*.dSYM.zip
*.dSYM

# Misc
*.hmap
*.ipa
*.log
conduit/
